@charset "utf-8";
/* CSS Document */
#droptarget {
height: 198px;
font-size: 18px;
border-radius: 37px;
text-align: center;
line-height: 198px;
margin: 0 0 30px 215px;
cursor: default;
vertical-align: middle;
}

.onthemove, .hollow{
background-color: red;
color: green;	
	}
	
	
	.draggable-item { 
	opacity: 0.6;
    background-color: #0cf;
	}
	
	
	.dropping-area { border: 1px solid blue; }