@charset "utf-8";
/* CSS Document */

@import "typography";

body {
    font-family: @calibri-font;
    min-height: 100%;
    font-size: 87.5%; // base font 14px: 14/16 = 0.875 x 100 = 87.5%
    line-height: 1.4em; // base lineheight 22.4px: 22.4/16 = 1.4em
    color: @default;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } 

#droptarget {
    height: 198px;
    font-size: 18px;
    border-radius: 37px;
    text-align: center;
    line-height: 198px;
    margin: 0 0 30px 215px;
    cursor: default;
    vertical-align: middle;
}

.onthemove, .hollow {
    background-color: red;
    color: green;
}


.draggable-item {
    opacity: 0.6;
    background-color: #0cf;
}


.dropping-area {
    border: 1px solid blue;
}

[tc-schedule-container] {
    height: 100%;
    position: relative;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: hidden;
}

[tc-schedule-row] {
    height: 30px;
}

#scheduleListContainer {
    height: 800px;
    max-width: 976px;
    margin: 0 auto;
    padding: 0 16px;
}

.schedule {
    //width: 7440px;
    //float: left;
    //margin-left: 112px;
    //height: 81px;
    border-bottom: 0;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        float: left;
        position: relative;
        white-space: nowrap;
        line-height: 1.3em;
        //height: 81px;
        display: block;
        overflow: hidden;
        width: 75px;

        &.two {
            margin-right: 2px;
        }

        &:hover {
            overflow: visible;
        }

        a, span {
            display: block;
            text-decoration: none;
        }

        div.outer {
            position: absolute;
            height: 100%;
            z-index: 0;
        }

        div.inner {
            border: 1px solid #404040;
            border-right: none;
            border-top: none;
            background-color: #262525;
            //height: 80px;

            a {
                //height: 68px;
                padding: 6px;
                overflow: hidden;
                position: relative;
                display: block;
            }

                        &.green {
                border: 1px solid #6ccb6b;
                background-color: #7bde7a;
            }
        }
    }
}

.schedule li:hover a,
.schedule li.highlight a,
.schedule a:active,
.schedule a:focus {
    padding-left: 4px;
    padding-right: 5px;
    border: 2px solid #f54997;
    border-right-width: 1px;
    border-top: none;
    border-bottom: none;
    background-color: #dedddd;
}

.title {
    font-size: 1em;
    line-height: 1em;
    font-weight: bold;
    color: #fff;
    display: inline-block;
}

.time {
    color: #bdbdbd;
    white-space: nowrap;
    width: 80px;
}


//Tables ddesign

.k-grid-content table {
    table-layout: fixed;
}

//Table version


.schedule-table {
    //float: left;
    //height: 81px;
    border-bottom: 0;
    list-style: none;

    td {
        //float: left;
        position: relative;
        white-space: nowrap;
        line-height: 1.3em;
        //height: 50px;
        //display: block;
        overflow: hidden;
        //width: 75px;
        padding: 5px;

        &:hover {
            overflow: visible;
        }

        a, span {
            display: block;
            text-decoration: none;
        }

        div.outer {
            position: relative;
            //height: 100%;
            z-index: 0;
            //top: 5px;
            float: left;
            //width: 60px;
            height: 35px;
        }
        div.hover {
            position: absolute;            
            top: 5px;
        }
        div.inner {
            border: 1px solid #404040;
            border-right: none;
            border-top: none;
            background-color: #262525;
            //height: 80px;
            a {
                // height: 68px;
                padding: 6px;
                overflow: hidden;
                position: relative;
                display: block;

                .title {
                    font-size: 1em;
                    line-height: 1em;
                    font-weight: bold;
                    color: #fff;
                    display: inline-block;
                }

                .time {
                    color: #bdbdbd;
                    white-space: nowrap;
                    width: auto;
                }
            }
        }
    }
}
